<div class="card">
    <div class="card-header">
        Editar Cliente
    </div>
    <div class="card-body">
        <form ngNativeValidate  [formGroup]="formClient" (ngSubmit)='updateClient()'>
            <div class="mb-3">
                <label for="">Documento:</label>
                <input required class="form-control" type="text" name="" formControlName="document" id="" aria-describedby="helpId" placeholder="Escriba documento del cliente">
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Nombre:</label>
              <input required type="text" class="form-control" name="" formControlName="firstname" id="" aria-describedby="helpId" placeholder="Escriba nombre del cliente">              
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Apellido:</label>
                <input required type="text" class="form-control" name="" formControlName="lastname" id="" aria-describedby="helpId" placeholder="Escriba apellido del cliente">              
              </div> 
              <div class="mb-3">
                <label for="" class="form-label">Teléfono:</label>
                <input required type="text" class="form-control" name="" formControlName="phone" id="" aria-describedby="helpId" placeholder="Escriba teléfono del cliente">              
              </div>                         
            <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-warning">Actualizar</button>
                <button type="button" [routerLink]="['/list-client']" class="btn btn-primary">Cancelar</button>                
            </div>
        </form>
    </div>
</div>